/*=================== Login CSS ==================================*/
.login_background {
    background-image: url("../img.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.login_background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.login_card {
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    z-index: 2; 
}

.login_card .card {
    max-height: 70vh;
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255,1); 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    z-index: 2;
}

.leftside_image {
    max-height: 65vh;
    overflow: hidden;
}

.leftside_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Login_Button {
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: linear-gradient(to right, #123a77, #00bf72, #a8eb12);
    color: white;
    border-radius: 20px;
    margin: 10px auto;
    /* transition:all eas 5s; */
}

.Login_Button:hover {
    background: linear-gradient(90deg, rgb(69, 211, 59) 0%, rgb(8, 96, 95) 100%);
    /* transition: all ease-in-out 0.5s; */
}

.Login_Button:active {
    transform: translate(0em, 0.2em);
}

.sign_up small {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.sign_up a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

/*=================== SignUp CSS ==================================*/

.signup_card {
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
    z-index: 2;
}

.signup_card .card {
    max-height: 90vh;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    z-index: 2;
}
.Register_paragraph p{
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.signup_card .card .row .leftside_image {
    max-height: 80vh;
    overflow: hidden;
}

.signup_card .card .row .leftside_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


